{% extends 'base.html' %}

{% block content %}

    <h3>Wish List Items</h3>
{% if item_list|length == 0 %}
    <h3>No Wish Items Exist</h3>
{% else %}
    <table class="pure-table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody class="pure-table-striped">
            {% for item in item_list %}
                <tr>
                    <td>{{ item.description }}</td>
                    <td>X</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
<hr>
<a class="pure-button" href="{% url 'item_create' %}">Add a Wish Item</a>

{% endblock %}