{% extends "base.html" %}

{% block title %}

<h1>Wish List Items</h1>
{% if item_list|length == 0 %}
<h3>No Wish Items Exist</h3>
<hr>
{% else %}
<table class="pure-table">
<thead>
    <tr>
        <th>Item</th>
        <th>Delete</th>
    </tr>
</thead>
<tbody class="pure-table-striped">
{% for todo in todos %}
    <tr>
        <td>{{ item.description }}</td>
        <td>X</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endif %}

<a class="pure-button" href="{% url 'item_create' %}">Add A Wish Item</a>


{% endblock %}